<%= form_with(model: volunteer) do |form| %>
  <% if volunteer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</h2>

      <ul>
        <% volunteer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password %>
  </div>

  <div>
    <%= form.label :full_name, style: "display: block" %>
    <%= form.text_field :full_name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.telephone_field :phone_number, maxlength: 20, pattern: "[0-9]*", inputmode: "numeric" %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :skills, style: "display: block" %>
    <%= form.textarea :skills %>
  </div>

  <div>
    <%= form.label :interests, style: "display: block" %>
    <%= form.textarea :interests %>
  </div>

  <div>
    <%= form.label :total_hours, style: "display: block" %>
    <%= form.text_field :total_hours %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
