<% content_for :title, "Edit Profile" %>

<h1>Edit Profile</h1>
<p>ID and username cannot be changed.</p>

<%= form_with model: @volunteer, url: volunteer_profile_path, method: :patch do |form| %>
  <% if @volunteer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@volunteer.errors.count, "error") %> prevented save:</h2>
      <ul>
        <% @volunteer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :password, style: "display: block" %>
  <%= form.password_field :password, required: true %>

  <%= form.label :full_name, style: "display: block" %>
  <%= form.text_field :full_name, required: true %>

  <%= form.label :email, style: "display: block" %>
  <%= form.email_field :email, required: true %>

  <%= form.label :phone_number, style: "display: block" %>
  <%= form.number_field :phone_number %>

  <%= form.label :address, style: "display: block" %>
  <%= form.text_field :address %>

  <%= form.label :skills, style: "display: block" %>
  <%= form.text_area :skills %>

  <%= form.label :interests, style: "display: block" %>
  <%= form.text_area :interests %>

  <%= form.submit "Save Profile" %>
<% end %>
