<div id="<%= dom_id admin %>">
  <p>
    <strong>Username:</strong>
    <%= admin.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= admin.password %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= admin.full_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= admin.email %>
  </p>

</div>
