<% content_for :title, "Log In" %>

<h1>Log In</h1>

<%= form_with scope: :login, url: login_path, method: :post do |form| %>
  <div>
    <%= form.label :account_type, style: "display: block" %>
    <%= form.select :account_type, [["Volunteer", "volunteer"], ["Admin", "admin"]], selected: "volunteer" %>
  </div>

  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username, required: true %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password, required: true %>
  </div>

  <%= form.submit "Log In" %>
<% end %>

<p><%= link_to "Need a volunteer account? Sign Up", signup_path %></p>
