<div id="<%= dom_id volunteer_assignment %>">
  <p>
    <strong>Volunteer:</strong>
    <%= volunteer_assignment.volunteer_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= volunteer_assignment.event_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= volunteer_assignment.status %>
  </p>

  <p>
    <strong>Hours worked:</strong>
    <%= volunteer_assignment.hours_worked %>
  </p>

  <p>
    <strong>Date logged:</strong>
    <%= volunteer_assignment.date_logged %>
  </p>

</div>
